.Fan {
    width: 100%;
    height: 100%;

    .Frame {
        .window {
            background: transparent;
        }
    }

    div {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: contain;
    }

    .fanbase {
        background-image: url(https://netscapes.s3.us-east-2.amazonaws.com/infrastructure/fan.png);
    }

    .blades {
        background-image: url(https://netscapes.s3.us-east-2.amazonaws.com/infrastructure/blades.png);
    }
}
